html {
    min-height: 100%;
    position: relative;
}
body {
    background-image: url(images/troy.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1 0 auto;
}
.page-header {
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
}
.page-header h1 {
    font-size: 30px;
    padding: 40px 0px 5px 0px;
}
.page-header h2 {
    font-size: 20px;
    padding-bottom: 20px;
}
.menu {
    text-align: center;
}
.menu h3 {
    font-size: 15px;
    opacity: 0.5;
}
.menu .current {
    opacity: 1;
}

.menu a:link, a:visited, a:hover, a:active {
    color: black;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 3px;
}
hr {
    border-top: 1px solid black;
}
                                                        /* Main  */


.topic  {
    padding: 80px 0px 80px 0px;
}                                                        
.content {
    padding-top: 20px;
}
article h1 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
article h2 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.content p {
    font-size: 1em;
}
.discription {
    text-align: justify;
    font-size: 1.3vw;
}

/* "ABOUT" Specific */
.about {
    padding-top: 50px;
}
.about h1 {
    font-size: 30px;
    text-align: center;
}
.about p {
    padding-top: 30px;
    text-align: justify;
}
.image-fluid {
    max-width: 100%;
    height: auto;
}
figcaption {
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

/* "CONTACT" Specific */

.email {
    text-align: center;
    padding-top:80px;
    padding-bottom: 50px;
}

/* Footer */

footer {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.3);
    height: auto%;
    margin-top: 50px;
}
footer .heads {
    padding: 40px 0px 40px 0px
}
.connect {
    color: black;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}
.low {
    font-size: 20px;
}

a img {
    max-width: 25px;
    height: 25px;
    margin: 1px 10px 1px 0px;
}
 a:link, a:visited, a:hover a:active {
    color: black;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
}
a p {
    font-weight: 350;
}